@model IList<westcoast_cars.web.ViewModels.Vehicles.VehicleListViewModel>

<section>
    <h1>Aktuella bilar för försäljning</h1>

    <a asp-action="Create">Lägg till ny bil</a>

    @foreach (var vehicle in Model)
    {
        <div>
            <a asp-action="details" asp-controller="vehicles" asp-route-id="@vehicle.Id">
                @vehicle.Manufacturer - @vehicle.Model - @vehicle.ModelYear
            </a>
        </div>
    }
</section>
