@model westcoast_cars.web.ViewModels.Vehicles.VehicleDetailsViewModel

<article>
    <h1>Information</h1>
    <h4>@Model.Manufacturer</h4>
    <div>@Model.Model - @Model.ModelYear</div>
    <div>Antal km: @Model.Mileage</div>
</article>