:root {
    --primary-color: #2196f3;
    --secondary-color: #00796b;
    --dark-color: #333;
    --light-color: #f4f4f4;
    --primary-text-color: #5f9ea0;
    --primary-background-color: #bfbdbd;
    --primary-border-color: #888;
    --warning-color: #ee9504;
    --error-color: #a50404;
  }
  