@{
    ViewData["Title"] = "Home Page";
}

@section styles{
<link rel="stylesheet" href="~/css/landing-page.css">
}

<div class="landing">
    <div class="content">
        <h1>Välkommen till Westcoast Cars</h1>
        <h2>Vi erbjuder nya och begagnade bilar</h2>
        <p>Med högsta kvalitet allt ifrån sportbilar till<br>
            familjer</p>
    </div>
</div>
