.gallery-page {
    padding: 5rem 2rem;
  }
  .gallery-wrapper {
    /* CSS Grid */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  
  .gallery-card {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
    background: #f4f4f4;
    padding: 1rem 1.5rem;
    border: var(--border-color) solid 1px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.6);
  }
  .gallery-card img {
    width: 100%;
    border: 1px solid var(--dark-color);
    padding: 0.2rem;
    box-shadow: none;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 600px;
    border-radius: 10px;
    background: #f3f3f3;
    border: #888 solid 1px;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.6);
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .modal-container {
    margin: 2rem;
  }
  
  .modal-container img {
    width: 100%;
  }
  
  .close-modal {
    position: absolute;
    top: 0;
    right: 6px;
    font-size: 2rem;
    border: none;
    outline: none !important;
    background: none;
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  
  @media (max-width: 500px) {
    .gallery-wrapper {
      grid-template-columns: repeat(1, 1fr);
      max-width: 500px;
    }
  
    .gallery-card {
      margin: auto;
    }
  }
  
  @media (min-width: 501px) and (max-width: 868px) {
    .gallery-wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media (min-width: 869px) and (max-width: 1299px) {
    .gallery-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 1300px) and (max-width: 1719px) {
    .gallery-wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 1720px) {
    .gallery-wrapper {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  