.vehicle-detail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .vehicle-detail {
    position: relative;
    margin-top: 3rem;
    background: var(--light-color);
    padding: 1rem 5rem;
    width: 700px;
    border-radius: 5px;
    box-shadow: 0 0  16px rgba(0,0,0,0.8);
  }
  
  .vehicle-detail img {
    border: #888 solid 1px;
    padding: 0.6rem;
    width: 100%;
  }
  
  .vehicle-detail-info{
    display: flex;
    justify-content: space-between;
    margin:0.8rem 0rem;
    padding: 0.2rem 0.9rem;
    background: var(--dark-color);
    color: var(--light-color);
  }
  
  
  .vehicle-detail-header{
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .vehicle-description {
    display: flex;
    flex-direction: column;
  }
  
  .vehicle-description h2 {
    padding: 1rem 0;
  }
  
  .vehicle-description hr {
    margin: 1rem 0 2rem 0;
  }
  
  .vehicle-description h4 {
    margin: 0 0 0.8rem 0;
  }
  
  .back-icon{
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 1rem;
  }
  
  .back-icon a{
    color: var(--secondary-color);
  }
  